 #header.sticky-header #header-wrap {
    background-color: #FFFFFF;
}
#header.sticky-header #primary-menu ul li>a {
    color: #000000;
}
#header.sticky-header #primary-menu ul li:hover>a, 
#header.sticky-header #primary-menu ul li.current>a {
    color: #000000 !important;
}
.phone-image h4 {
    color: #232222; 
}
.phone-image .btn-outline-secondary {
    border-color: #232222;
    color: #232222;  
}
.faq_page .faq_header_section .card .card-header span i {
    color: #232222;  
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn h5 {
    color: #232222;
}
.fields-as-ar-brn .model-details-panel .btn-group-toggle .font-body.radio_btn h5 {
    color: #232222;
}
#top-search form input { 
    color: #FF8661;
}
.sticky-header #top-search form input { 
    color: #000000;    
}
.clients-grid li a h4 { 
    color: #232222;  
}
.portfolio-desc span {
    color: #232222;
}
.repair_two h4 {
    color: #232222;;   
}
.affiliates_right_section .h3 {
    color: #232222;
}
article p {
    color: #232222;  
} 
address {
    color: #232222; 
}
abbr {
    color: #232222;
} 
section.page_description p {
    color: #232222;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: #2AB08D !important;  
} 
.acctitle {
    color: #232222;   
}
#top-bar {
    background-color: #F6F6F6;
}
.top-links li>a:hover {
    color: #2AB08D;
}
p.repair_by_category {
    color: #232222;
}
#header-wrap {
    background-color: #FFFFFF; 
}
.top-links ul ul, .top-links ul div.top-link-section {
    background-color: #F6F6F6;
}
.top-links li>a {
    color: #000000;
}
.m_header_color .modal-header {
    background: #2AB08D;
}
#primary-menu ul li>a {
    color: #000000;   
}
#top-search a {
    color: #000000 !important;  
}
.inner-page .transparent_header_bg #header-wrap #primary-menu ul li>a {
    color: #FF8661;
}
.inner-page .transparent_header_bg #header-wrap #primary-menu ul li.current>a {
    color: #9BFFD9 !important;
}
.inner-page .transparent_header_bg #header-wrap #primary-menu ul li a:hover {
    color: #9BFFD9 !important;
} 
.inner-page .transparent_header_bg.sticky-header #header-wrap #primary-menu ul li>a {
    color: #000000;
}
.inner-page .transparent_header_bg.sticky-header #header-wrap #primary-menu ul li>a:hover {
    color: #000000 !important;
}
.inner-page .transparent_header_bg #header-wrap #primary-menu .mega-menu-column li>a {
    color: #000000 !important;
}               
.inner-page .transparent_header_bg #header-wrap #primary-menu .mega-menu-column li:hover>a {
    color: #000000 !important; 
}   
#primary-menu .mega-menu-content.mega-menu-style-2 ul li>a {
     color: #000000 !important;
}
#primary-menu .mega-menu-content.mega-menu-style-2 ul li a.menu-link {
   border-bottom: 2px solid #000000;      
}
#primary-menu .mega-menu-content.mega-menu-style-2 ul li:hover a.menu-link {
    border-bottom: 2px solid #000000 !important; 
}           
#primary-menu .mega-menu-content.mega-menu-style-2 ul li:hover>a {
    color: #000000 !important; 
}
#primary-menu .transparent_header_bg.sticky-header .mega-menu-content.mega-menu-style-2 ul li a.menu-link {
   border-bottom: 2px solid #000000 !important; 
}
#primary-menu .transparent_header_bg.sticky-header .mega-menu-content.mega-menu-style-2 ul li:hover a.menu-link {
    border-bottom: 2px solid #000000 !important; 
}               
#primary-menu .transparent_header_bg.sticky-header .mega-menu-content.mega-menu-style-2 ul li>a {
    color: #000000 !important;
    border-bottom: 2px solid #000000 !important;
}   
#primary-menu .transparent_header_bg.sticky-header .mega-menu-content.mega-menu-style-2 ul li:hover>a {
    color: #000000 !important; 
}
#header.sticky-header #primary-menu .mega-menu-content.mega-menu-style-2 ul li:hover>a {
    color: #000000 !important; 
}
.inner-page .transparent_header_bg.sticky-header #primary-menu .mega-menu-content.mega-menu-style-2 ul li>a {
    color: #000000 !important;
}   
.inner-page .transparent_header_bg.sticky-header #primary-menu .mega-menu-content.mega-menu-style-2 ul li:hover>a {
    color: #000000 !important; 
}
.inner-page .transparent_header_bg #header-wrap #primary-menu #top-search a {
    color: #000000 !important;
}  
#header.sticky-header #primary-menu #top-search a {
    color: #000000 !important;
}
.information_detail a {
    color: #000000; 
}
#primary-menu ul li:hover>a, #primary-menu ul li.current>a {  
    color: #000000 !important; 
}
#primary-menu ul ul:not(.mega-menu-column), 
#primary-menu ul li .mega-menu-content {
    background-color: #FFFFFF !important; 
}    
#primary-menu ul ul li:hover>a, a {
    color: #2AB08D;       
}       
#primary-menu-trigger {    
    color: #000000;  
}
.accordion.accordion-bg .acctitle span.acc-open {
    color: #232222; 
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn .tooltip-icon {
    color: #232222 !important; 
}
#primary-menu-trigger:hover {
  color: #000000;  
}
.accordion .panel-title a {
    color: #232222;
}
#primary-menu ul ul li>a {
    color: #000000;
}   
.faq_section .acctitle.acctitlec {
    color: #000000;
}
.more-link {
    border-bottom: 1px solid #000000;
}
.accordion.faq_section.accordion-border .acctitle i {
    color: #000000;
}
.sticky-header #top-search a, #top-cart>a, #side-panel-trigger a {
    color: #000000;
}
#top-search a, #top-cart>a, #side-panel-trigger a {
    color: #FF8661;
} 
#top-search form input::placeholder { 
  color: #FF8661;
}
.sticky-header #top-search form input::placeholder {  
  color: #000000; 
}   
.information_detail {
    color: #000000; 
}              
.block.showcase-text h1 {     
    color: #FFFFFF; 
}
.block.showcase-text h3 {
  color: #FFFFFF;
}
.slick-slide .btn-outline-light {
    border-color: #FFFFFF;
    color: #FFFFFF !important;
}
.slick-slide .btn-outline-light:hover {
    background-color: #FFFFFF;
    border-color: #2AB08D;
    color: #2AB08D !important;
}
.slick-dots li.slick-active { 
    background-color: #2AB08D; 
                                    
}
.slick-dots li {                                
   border: 1px solid #2AB08D ;
   background: none;
}
#page-menu-wrap {
    background-color: #2AB08D; 
}
#head-graphics h1 {
    color: #FF8661;    
}
#head-graphics p {
    color: #2AB08D;
}
.heading-block h1,  
.heading-block h2, 
.heading-block h3, 
.heading-block h4,  
.emphasis-title h1, 
.emphasis-title h2 {
    color: #000000;
}
.testi-meta span {
    color: #232222;
}
.easy_step .feature-box.fbox-center.fbox-light.fbox-effect h3 {
    color: #232222;
}
.easy_step .feature-box.fbox-center.fbox-light.fbox-effect p {
    color: #232222;
}     
.owl-carousel .owl-dots .owl-dot {
    background-color: #2AB08D;
}
.btn-primary:hover, .btn-primary.active {
    background-color: #B03B26;
    border-color: #B03B26;
}
.btn-outline-secondary {
    border-color: #88A4B0;
    color: #88A4B0; 
} 
.btn-outline-secondary:hover { 
    border-color: #88A4B0;
    color: #88A4B0;
}
.btn-outline-light {
    border: 1px solid #FFFFFF !important;
    border-color: #FFFFFF;
}
.btn-outline-light:hover{
   border-color: #FFFFFF;
   background-color: #FFFFFF; 
}
.step5next:hover {
   background-color: #B03B26 !important; 
}
.button {
    background-color: #88A4B0;
}

.button:hover { 
    background-color: #B03B26;
}
.btn-info {
    background-color: #88A4B0;
    border-color: #88A4B0;
}                   
.btn-info:hover {
    background-color: #88A4B0;
    border-color: #88A4B0;
}
.btn-primary {
    background-color: #88A4B0;
    border-color: #88A4B0;
}
button.step5next {
    background: #88A4B0 !important; 
}
/*.btn-outline-secondary {
    color: #232222;
    border-color: #B03B26; 
}*/
.button.button-3d:hover {
    background-color: #B03B26 !important;
} 
.heading-block>span:not(.before-heading) {    
    color: #232222;
}
.faults_repaire .fr_inner_section:hover {
    border:1px solid #2AB08D;
}
.fbox-effect .fbox-icon i:after {
    -webkit-box-shadow: 0 0 0 2px #2AB08D;
    box-shadow: 0 0 0 2px #2AB08D;
}
.button-dark.button-border {
    border-color: #88A4B0;
    color: #88A4B0;  
}
.button-dark.button-border:hover {
    background:#B03B26 !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #88A4B0; 
    border-color: #88A4B0; 
}
.home-slide-item .button.button-border {    
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.home-slide-item .button.button-border:hover {
    background-color: #FFFFFF !important;
    color:  #2AB08D !important;
}
.button-3d.button-amber:hover,  
.button-reveal.button-amber:hover, 
.button-border.button-amber:hover, 
.button-border.button-amber.button-fill:before {  
    background: #88A4B0 !important;
}
.datepicker table tr td.today, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today:hover {
    background-color: #2AB08D;
}
.repair_icon_name.icon_detail i.icon-line-circle-check {
    color: #2AB08D; 
}
.datepicker table tr td.active.active {
    background-color: #2AB08D;
}
#booking-form .btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: #88A4B0; 
}
.btn-group .btn-outline-secondary:hover, .btn-group .btn-outline-secondary.active {
    background-color: #88A4B0;
}
.contact_detail h3 {
    color: #232222;;  
}
#content p {
   color: #232222;    
}
.center_heading_text article .h2 {
    color: #000000;
}
.center_heading_text article p {
   color: #232222; 
}
.feature-box h3 {
    color: #232222;
} 
.why_use_section .feature-box p {
    color: #232222; 
}
.feature-box.fbox-center p {
    color: #232222; 
}
.question .modern-block__content .options_values .btn:hover {
    border-color: #2AB08D; 
}
.question.client .custom-control input:checked ~ .custom-control-label {
    border-color: #2AB08D;     
}
.question .modern-block__content .options_values .btn.sel {
    border-color: #2AB08D;
}
.model-details-panel .btn.btn-outline-dark.active {  
    border-color: #2AB08D; 
    border: 2px solid #2AB08D !important;
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn:hover h5 {
    color: #232222  !important; 
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn:hover .item_price.h5 strong {
    color: #232222  !important; 
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn.active .item_price.h5 strong {
    color: #232222  !important;
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn:hover h6 {
    color: #232222  !important;  
}   
.testimonial .flex-control-nav li a {
    background-color: #2AB08D;
}
.entry-meta li {
    color: #232222;
}
.entry-meta li a {
    color: #000000;
}
.promo h3 {
    color: #232222;
}
.fancy-title.title-bottom-border h1,
.fancy-title.title-bottom-border h2, 
.fancy-title.title-bottom-border h3, 
.fancy-title.title-bottom-border h4, 
.fancy-title.title-bottom-border h5, 
.fancy-title.title-bottom-border h6 {
    border-bottom-color: #2AB08D;  
}
.promo>span, .promo>.container>span {
    color: #232222;
}
.contact_track_section {
    color: #232222;
}
.how_it_work_detail_section p {
    color: #232222; 
}
.repair_price_contant p {
    color: #232222;
}
.brand_detail .repair_by_category  {
    color: #232222;    
}
.color, .btn-link {
    color: #232222 !important;  
} 
span#show_final_amt {
    color: #232222 !important;   
}    
#gotoTop {
    background: #2AB08D !important; 
}      
#footer {  
    background-color: #F2F2F2 !important;
}
#footer .widget>h4 {  
    color: #000000;
}
#footer .widget_links li a {
    color: #000000;
}

.main-footer-section li::before {
    color: #000000;
}
#footer .widget_links li a:hover {
    color: #000000; 
}
#copyrights { 
    color: #000000 !important;
}
.footer_bottom {
    background-color: #FFFFFF !important;
}
 .copyright-links a {
    color: #000000 !important; 
}
.copyright-links a:hover {
    color:#000000 !important;
}
span.bottom_footer {
    color: #000000 !important; 
}
.signup_button .input-group-append .btn.btn-info {
    background-color: #F2F2F2; 
    border-color: #000000; 
    color:#000000; 
}
.signup_button .input-group-append .btn.btn-info:hover {
    background-color: #F2F2F2; 
    border-color: #000000; 
    color:#000000;  
}
.brand_section_category a h4 {
    color: #232222;
}
.site_pimary-bg {
    background-color: #2AB08D;
}
.site_secondary-bg {
    background-color: #2AB08D;  
}
.block.showcase-text p {
    color: #FFFFFF;
}

/***26/04/2021***/

#submit_quote {
    background-color: #88A4B0;
}

#submit_quote:hover {
    background-color: #B03B26;
}

#get-price-btn {
    background-color: #88A4B0;
}

#get-price-btn:hover {
    background-color: #B03B26;
} 

#user_create {
    background-color: #88A4B0;
}

#user_create:hover {
    background-color: #B03B26;
} 

#sbt_quick_booking_for_coupon {
    background-color: #88A4B0;
}

#sbt_quick_booking_for_coupon:hover {
    background-color: #B03B26;
} 

.contact-shipping-label ul.contact li a {
   color: #232222;
}

#login_form .forgot-pws {   
    color: #71E3FF !important;  
}

#login_form .forgot-pws:hover {
    color: #48FF3E !important;
}

#login_form .fleft {
    color: #71E3FF !important;
}

#login_form .fleft:hover {
    color: #48FF3E !important; 
}

#signup_form .fleft { 
    color: #71E3FF !important;
}

#signup_form .fleft:hover {
    color: #48FF3E !important; 
}

/***04/06/2021***/
body { 
    background-color: #FFFFFF;
}
.clients-grid li a:hover {
    border: 1px solid #2AB08D !important; 
}
#head-graphics { 
    background-color: #2AB08D;
}
.item_price.text-primary.h5 { 
    color: #232222 !important;    
}
.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn h6 { 
    color: #232222; 
}
.fields-as-ar-brn .model-details-panel .btn-group-toggle .font-body.radio_btn h6 { 
    color: #232222;
}
.choose_option_section a.btn-outline-secondary { 
    color: #232222;
}
#booking-form a.btn.btn-outline-secondary:hover { 
    color: #232222; 
}
#booking-form a.btn.btn-outline-secondary.active { 
    border:2px solid #2AB08D !important;
    color: #232222;
}
#booking-form a.btn.btn-outline-secondary.focus {
    border:2px solid #2AB08D !important;
} 
#booking-form a.btn.btn-outline-secondary:not(:disabled):not(.disabled).active { 
    color: #232222 !important;  
} 
.rightside_address_detail .button.get_direction { 
    color: #232222;
}
.iconlist .text-primary {
    color: #232222 !important;
}  
.version_three_section .m_detail_section .btn:hover {
    color: #88A4B0;
}   
.sidebar_grid .brands h2 a {
    color: #000000;
}
.estimate_sticky { 
    background: #88A4B0;
}

.home-page.primary-menu-open .transparent_header_bg #header-wrap {
    background: #FFFFFF; 
}
.primary-menu-open .header_full_width { 
    background-color: #FFFFFF;
} 
.fix_header_bg #header-wrap {
    background: #FFFFFF;
}
.inner-page #header-wrap { 
    background: #FFFFFF;     
}

.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn .item_price.h5 strong {
    color: #232222 !important;  
}
.dark .sm-form-control:not(.not-dark):focus {
    border-color: #2AB08D !important;  
}  
.question.client li.custom-control.custom-radio.custom-control-inline input.brand_id:checked ~ .custom-control-label:after{ 
    color: #2AB08D !important;
}
.btn-outline-light { 
     color: {$header_button_text_color};    
}
body.inner-page {
    background-color: #FFFFFF;
}
.block.calculate-cost form { 
    border: 2px solid #FFFFFF;
}
.block.calculate-cost form .form-control::placeholder{
    color: #FFFFFF; 
}
.block.calculate-cost form .form-control { 
    color: #FFFFFF;
}
.block.calculate-cost .icon-arrow-right {
    color: #FFFFFF;
}
ul.sidebar-model-grid li:hover a {
    color: #2AB08D;
}
ul.sidebar-model-grid li.active a {
    color: #2AB08D;
}
ul.sidebar-model-grid li a {
    color: #232222;   
}
.home-page.primary-menu-open .transparent_header_bg #header-wrap { 
    background: #FFFFFF; 
}
.faq_page .faq_header_section .card-body p { 
    color: #000000;
}
.second-footer ul li a { 
    color: #232222;
}
.second-footer ul li a:hover {
    color: #232222;
}
a.view-more { 
    color: #232222;
}
.cta-wrapper { 
     background-color: #F2F2F2;
} 
.cta-wrapper .details-wrapper h2 { 
    color: #000000;
} 
.cta-wrapper .details-wrapper p { 
    color: #000000;
}
.cta-wrapper input::placeholder {
    color: #000000;         
}
.suppor_phone { 
    color: #000000;
}  
.support_email {
    color: #000000;
} 
.support_address {
    color: #000000;
}
.accordion.faq_section.accordion-border .acctitle.acctitlec {
    color: #2AB08D;
}
.third-version-booking-form .list-group-item.active .step-icon { 
    background: #88A4B0;
}
.third-version-booking-form .list-group-item.done .step-icon { 
    background: #88A4B0;
}
.third-version-booking-form .list-group-item:hover .step-icon {
    background: #88A4B0;
}
.primary-menu-open #primary-menu ul>li>a {
    color:  #FF8661;   
}  
.model-details-panel .btn.btn-outline-dark.active .arrow i { 
    color: {$primary_text_color};
}
.model-details-panel .btn.btn-outline-dark.active:after {
    background: #2AB08D;
}
#booking-form a.btn.btn-outline-secondary.active:after {
    background: #2AB08D;
}
#booking-form a.btn.btn-outline-secondary.active .arrow i { 
    color: {$primary_text_color};
}
.why-choose .feature-box .services-title-border {
    background: #232222;
}
.testi-content p a {
    color: #232222; 
}
.rightside_address_detail .address_title { 
     color: #232222;
}

.support_email a { 
    color: #000000;
}
.customer-support {
    color: #000000;
}
.customer-support:hover {
    color: #000000;
}

.main-footer-section li::before {
    color: #000000;
}

.main-footer-section li:hover::before {
    color: #000000;
}

.support_email a:hover {
    color: #000000; 
}
.suppor_phone a {
    color: #000000;
}
.suppor_phone a:hover {
    color: #000000;
}
.support_address span {
    color: #000000;     
}
 
/***05/06/2021***/

.home-slide.slick-initialized.slick-slider.slick-dotted .slick-dots li.slick-active {
   background-color: #88A4B0;
}

        
.get_review_section .slick-initialized.slick-slider.slick-dotted .slick-dots li.slick-active {
   background: #88A4B0;
}
            
.portfolio-item .portfolio-image a:after {
    color: #2AB08D !important; 
}
.autocomplete-suggestions .autocomplete-suggestion strong {
    color:#2AB08D;
} 

.block.showcase-text .button {
    background:#FFFFFF;
} 

.block.showcase-text .button:hover {
    background:#2AB08D;                 
}   
                 
.get_quote_address .quote_wrk_hrs p {
    color: #FFFFFF;   
} 
.get_quote_address .quote_address span {            
    color: #FFFFFF;
}       
.get_quote_address .quote_address p {
    color: #FFFFFF;
}  
.get_quote_address .quote_wrk_hrs span {        
    color: #FFFFFF;      
}
.get_quote_address .quote_call_us span {
    color: #FFFFFF;
} 
.fill-free-question #contact_form label  {
    color: #232222;           
}  

/***09/06/2021***/
.get_quote_address {
     background: #2AB08D !important;
}

.get_quote_address p a { 
     color: #FFFFFF;
}  

::selection {
    background: #2AB08D !important;
}

/***23/06/2021***/
#booking-form a.btn.btn-outline-secondary:hover {
    border:2px solid #2AB08D !important;
}

.fields-as-boxes .model-details-panel .btn-group-toggle .btn.radio_btn:hover {
    border:2px solid #2AB08D !important;
}

/***13/08/2021***/          
ul.clearfix.account-menu li a:hover {
    border: 2px solid #2AB08D;
}
ul.clearfix.account-menu li:hover a {   
    color:#2AB08D;
} 
ul.clearfix.account-menu li.active a {
    border: 2px solid #2AB08D !important;
    color: #2AB08D !important;
}           


@media only screen and (max-width : 574px) {  
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li.current a {
        color: #9BFFD9 !important; 
    }
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li a:hover {
        color: #9BFFD9 !important;
    }
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
        color: #9BFFD9 !important;
    }
    li.menu-item.mega-menu-title.sub-menu { 
        background: #FFFFFF !important;
    }   

   

} 

@media only screen and (min-width : 575px) and (max-width : 767px) {  
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li.current a {
        color: #9BFFD9 !important; 
    }
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li a:hover {
        color: #9BFFD9 !important;
    }
    body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
        color: #9BFFD9 !important;
    } 

    li.menu-item.mega-menu-title.sub-menu { 
        background: #FFFFFF !important;
    }     
}

@media only screen and (min-width : 768px) and (max-width : 991px) { 
     li.menu-item.mega-menu-title.sub-menu { 
        background: #FFFFFF !important;
    } 
}


#header.sticky-header #primary-menu .sub-menu.specific-main-menu .sub-menu a {
    color:#000000!important;
}

.inner-page .transparent_header_bg .sub-menu.specific-main-menu .sub-menu a {
    color:#000000!important;
}

.explore_repair_service.new-explore .page-menu-item i {
    color:#2AB08D;
}